@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #16161d;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #16161d;
}

::-webkit-scrollbar-thumb {
  background-color: #9a9acb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7878a5;
}
